<ion-content padding class="tertiary-bg-color">
    <ion-img src="assets/imgs/front.png" class="width-100-percent height-200-px"></ion-img>
    <ion-input class="margin-top-20-px border-line-bottom-1px-secondary primary-text-color" [(ngModel)]="userInfo.EmailAddress" type="text" placeholder="Email Address"></ion-input>
    <ion-input class="border-line-bottom-1px-secondary primary-text-color" [(ngModel)]="userInfo.Password" type="password" placeholder="Password"></ion-input>
    <button class="width-100-percent margin-top-100-px primary-bg-color" ion-button (click)="LoginEvent()">LOGIN</button>
    <button *ngIf="profileImage.length <=0?true:false" class="width-100-percent primary-bg-color" ion-button (click)="LoginAsFacebook()">Login Using Facebook</button>
    <button *ngIf="profileImage.length>0?true:false" class="width-100-percent primary-bg-color" ion-button>
        <img src="{{profileImage}}" class="height-50-px width-50-px"/>&nbsp;{{name}}
    </button>
    <button (click)="GotoSignUp()" class="width-100-percent primary-bg-color" ion-button>SIGN UP</button>
</ion-content>