<ion-content padding>
    <button ion-button clear (click)="Close()" class="position-absolute z-index-100">
        <ion-icon name="ios-arrow-back-outline" class="primary-text-color font-size-40"></ion-icon>
    </button>
    <ion-img src="../../../assets/imgs/logo.png" class="width-100-percent height-200-px"></ion-img>
    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <button ion-button class="primary-bg-color text-align-center width-100-percent height-70-px" *ngIf="!isAdmin">
                <p class="fifth-text-color">
                  <ion-icon name="md-chatbubbles" class="font-size-30"></ion-icon>
                  <br>
                  Message
                </p>
              </button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <p class="primary-text-color font-size-30 text-align-center">{{userInfo.Firstname}} {{userInfo.Lastname}}</p>
    <p class="primary-text-color font-size-20 text-align-center">({{userInfo.EmailAddress}})</p>
    <ion-list>
        <ion-item no-lines (click)="ViewUserReview()">
            <ion-icon name="ios-star" item-start class="primary-text-color"></ion-icon>
            <p class="primary-text-color font-size-20">Review</p>
            <ion-icon item-end name="ios-arrow-forward" class="primary-text-color"></ion-icon>
        </ion-item>
        <ion-item no-lines>
            <ion-icon name="md-list-box" item-start class="primary-text-color"></ion-icon>
            <p class="primary-text-color font-size-20">Transactions</p>
            <ion-icon item-end name="ios-arrow-forward" class="primary-text-color"></ion-icon>
        </ion-item>
        <ion-item no-lines *ngIf="isAdmin">
            <ion-icon name="md-settings" item-start class="primary-text-color"></ion-icon>
            <p class="primary-text-color font-size-20">Settings</p>
            <ion-icon item-end name="ios-arrow-forward" class="primary-text-color"></ion-icon>
        </ion-item>
    </ion-list>
    <button ion-button (click)="TestViewReview()">Test View Review</button>
</ion-content>